pyodbc
numpy
pandas
geopandas
rasterio
shapely
xarray
zarr
netcdf4
fiona
dask
dask[distributed]
aiohttp
fsspec
boto3
s3fs
pystac
python-dotenv
pystac-client
owslib
elementpath
psycopg2-binary
tqdm
pystac
elementpath
owslib
requests
matplotlib
cartopy
sphinx
sphinx_rtd_theme
dask-geopandas